<section class="animate-fade">
  <h2>Pasarela de Asientos</h2>
  <div class="sales-container" style="margin-top: 20px;">
    <div class="bus-layout">
      <div class="bus-grid">
        <div class="seat occupied">X</div><div class="seat occupied">X</div><div class="seat-space"></div><div class="seat available">01</div><div class="seat available">02</div>
        <div class="seat available">03</div><div class="seat available">04</div><div class="seat-space"></div><div class="seat selected">05</div><div class="seat available">06</div>
      </div>
    </div>
    <div class="checkout-summary">
      <div><h3>Total: $180 MXN</h3></div>
      <button class="btn-pay" (click)="pagar()">Confirmar Compra</button>
    </div>
  </div>
</section>